* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Times New Roman", serif;
  background-color: white;
  color: black;
  line-height: 1.6;
  padding: 20px;
  padding-top: 100px; /* Add space for the header */
}

/* Header styles */
header {
  background-color: #4C4E52;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  font-size: 2em;
  color: white;
}

header nav a {
  color: white;
}

/* Project section styles */
#projects {
  padding-left: 20px;
}

#projects h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Project list styles */
.project-list {
  list-style-type: none;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.project-preview {
  margin-right: 20px;
}

.project-preview iframe {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.project-details h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-details p {
  font-size: 1.1em;
  margin: 5px 0;
}

.project-details a {
  color: #0000FF;
  text-decoration: none;
}

.project-details a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  margin-bottom: 20px;
  background-color: #F4F4F4;
  padding: 10px 0;
}
