* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Times New Roman", serif;
  background-color: white;
  color: black;
  line-height: 1.6;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #4C4E52; /* Darker gray for the header */
  text-align: center;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  position: sticky; /* Make the header sticky */
  top: 0; /* Keep it at the top */
  z-index: 1000; /* Ensure the header stays above other content */
}

header h1 {
  font-size: 2em;
  color: white; /* White text color */
}

header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Display navigation links in a row */
  justify-content: center; /* Center the navigation */
}

header nav ul li {
  margin: 0 15px;
}

header nav a {
  color: white; /* White links */
  text-decoration: none;
  font-size: 1.1em;
}

header nav a:hover {
  text-decoration: underline;
}

/* Project section styles */
#projects {
  padding-left: 20px;
}

#projects h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Project list styles */
.project-list {
  list-style-type: none;
}

.project {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
}

.project-preview {
  margin-right: 20px;
}

.project-preview iframe {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.project-details h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-details a {
  color: #0000FF;
  text-decoration: none;
  margin-bottom: 10px; /* Space between link and description */
}

.project-details a:hover {
  text-decoration: underline;
}

.project-details p {
  font-size: 1.1em;
  margin: 5px 0;
}

/* Footer styles */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  margin-bottom: 20px;
  background-color: #F4F4F4;
  padding: 10px 0;
}
